@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: #171717;
    height: 100vh;
    overflow-x: hidden;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}


.color{
    color: #c70039;
    transition: all .4s ease;
}
.bg-color{
    background-color: #c70039;
    transition: all .4s ease;
}
:root{
    --color:#c70039;
}



/* NAVBAR */
.container{
    max-width: 1400px;
    width: 96%;
    margin-left:auto;
    margin-right:auto;
    background-color: #171717;
    overflow: hidden;
    position: relative;
}
.container .navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 24px;
    justify-content: space-between;
}


.container .navbar .logo img{
    width: 40%;
    transition: 200ms all linear;
    opacity: 0.75;
    cursor: pointer;
}
.container .navbar .hamburger-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
    cursor: pointer;
    /* border: 1px solid red; */
    
}

.container .navbar .hamburger-menu div{
    height: 2px;
    background-color: white;
    opacity: 0.75;
    transition: 200ms all linear;
    
}
.container .navbar .hamburger-menu div:nth-child(1){
    width:20px;
}
.container .navbar .hamburger-menu div:nth-child(2){
    width:30px;
}
.container .navbar .hamburger-menu div:nth-child(3){
    width:40px;
}

.logo img:hover{
    transform: rotate(-45deg);
    opacity: 1 !important;
}


.hamburger-menu:hover div{
    width: 40px !important;
    opacity: 1 !important;
}
/* MENUBAR */

.menubar{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 5;
    background-color: #020202;
    transform: translateY(-100%);
    transition: 300ms all linear;
    
}
.menubar2{
    transform: translateY(0);
}

.menubar .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}
.menubar .navbar .logo{
    margin-left: 23px;
}
.menubar .navbar .logo img{
    width: 40%;
    transition: 200ms all linear;
    opacity: 0.75;
    cursor: pointer;
}
.menubar .navbar .close-ham{
    margin-right: 20px;
    cursor: pointer;
    transition: 200ms all ease-in;
}
.menubar .navbar .close-ham div{
    width: 40px;
    height: 2px;
    background-color: white;
    opacity: 0.75;
   
}
.menubar .navbar .close-ham div:nth-child(1){
    transform: rotate(45deg);
}
.menubar .navbar .close-ham div:nth-child(2){
    transform: rotate(-45deg);
}
.menubar .navbar .close-ham:hover{
    transform: rotate(90deg);
}
.menubar .navbar .close-ham:hover div{
    opacity: 1;
}

.menubar .menus{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    
}
.menus ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    
}
.menus ul li a{
    color: white;
    font-size: 30px;
    opacity: .75;
    transition: all .4s ease;
    font-family: poppins;
}

.menus ul li a:hover{
    opacity: 1;
}
.bg-text{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    /* color: red; */
    font-size: 150px;
    font-family: 'Tilt Prism', cursive;
    opacity: 0.6;
    
}


::-webkit-scrollbar{
    width: 5px;    
    
}
::-webkit-scrollbar-thumb{
    background-color: var(--color);
}



/* CENTER */
center h1{
    font-size: 45px;
    color: whitesmoke;
    font-weight: 400;
    font-family: Poppins;
}

center h3{
    font-size: 20px;
    color: whitesmoke;
    font-family: Poppins;
    font-weight: 400;
    opacity: 0.75;
}





/* MAIN */
.color_changer{
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: row;
    transform: translate(100px);
    transition: 600ms all ease;
    z-index:999;
}
.changer_new{
    transform: translate(0);
}
.gear{
    height: 45px;
    cursor: pointer;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    background: whitesmoke;
   
}
.colors{
    width: 100px;
    height: 100px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 10px;
}
.colors h4{
    font-size: 12px;
    font-family: poppins;
}
.colors .selections{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.selections div{
    
    width: 20px;
    height: 20px;
    border-radius: 20%;
}
.selections div:nth-child(1){
    background-color: #c70039;
}
.selections div:nth-child(2){
    background-color: #481380;
}
.selections div:nth-child(3){
    background-color: #00909e;
}
.selections div:nth-child(4){
    background-color: #04A777;
}
.selections div:nth-child(5){
    background-color: #035aa6;
}

.selections div:nth-child(6){
    background-color: #dd7631;
}

.circle{
    animation: circle1 3s infinite;
}
@keyframes circle1 {
    100%{
        transform: rotate(360deg);
    }
}
.main{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 50px;
    align-items: center;
}

.main .text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: .8;
    font-size: 22px;
    font-weight: 200;
    font-family: Poppins;
    color: white;
    max-width: 50ch;
}

.main .text h1{
    font-size: 45px;
    font-family: Poppins;
    color: white;
    /* margin-bottom: 120px; */
}
.main .text button{
    width: 25%;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 22px;
    padding: 10px;
    font-family: Poppins;
    background-color: transparent;
}
.main .image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .image img {
    width: 60%;
    border-radius: 20px;
}


/* SERVICES */
.services{
    display: flex;
    flex-direction: column;
    margin-top: 72px;
    align-items: center;
   
}
.cards{
    margin-top: 50px;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    justify-content: center;
   
}
.cards .card{
    background-color: #191919;
    display: inline-block;
    box-shadow: 0px 0px 25px var(--color);
    position: relative;
    text-align: center;
    z-index: 2;
    border-radius: 10px;
    overflow: hidden;
    animation: opacity 1.4s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    cursor: pointer;
}
.cards .card:hover .card-img{
    box-shadow: 20px 10px 10px 1000px var(--color);
}
.card .card-img{
    border-radius: 10px;
    transition: all .8s ease;
}
.card .card-img img{
    transition: all .8s ease;
}
.card h2{
    color: white;
    font-family: Poppins;
    font-weight: 400;
    font-size: 25px;
    margin: 10px 0;
}
.card p{
    font-weight: 200;
    font-size: 16px;
    opacity: .8;
    font-family: Poppins;
    color: white;
    margin-bottom: 50px;
    max-width: 25ch;
    text-align: center;
    padding: 10px;
}


/* SKILSS */
.skills{
    display: flex;
    flex-direction: column;
    margin-top: 72px;
    /* align-items: center; */
   
}
.skills .skill-bars{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}
.skills .skill-bars .bar{
    min-width: 40%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.bar h3{
    font-size: 20px;
    font-weight: 400;
    font-family: Poppins;
    color: white;
}
.bar .progress{
    height: 40px;
    width: 100%;
    border-radius: 10px;
    background: #191919;
    box-shadow: 0px 0px 25px rgb(0,0,0,.1);
    position: relative;
    overflow: hidden;
}
.bar .progress .progress-color{
    width: 90%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Poppins;
    
}
.bar:nth-child(3) .progress .progress-color{
    width: 80%;
}
.bar:nth-child(4) .progress .progress-color{
    width: 30%;
}
.bar:nth-child(5) .progress .progress-color{
    width: 10%;
    
}
/* 
FOOTER */



.footer{
    margin-top: 310px;
    display: grid;
    place-items: center;
    background-color: #080808;
    width: 100%;
    padding: 20px 0;
}
.footer div{
    
    display: flex;
    flex-direction: row;
    gap: 5px; 
    color: white;
    font-size: 18px;
    font-weight: 400;
    color: white;
    align-items: center;
    font-family: poppins;
}

@media only screen and (max-width:1024px){
    .footer{
        margin-top: 20px !important;
    }
    .main{
        flex-direction: column-reverse !important;
    }
   
}
@media only screen and (max-width:500px){
    .footer div{
        font-size: 14px !important;
    }
    .skill-bars{
        flex-direction: column !important;
    }
    .text h1{
        font-size: 30px !important;
    }
    .text{
        font-size: 16px !important;
    }
    .text button{
        font-size: 16px !important;
    }
    .bar h3{
        font-size: 16px !important;
    }
    .bar .progress, .progress-color{
        height: 30px !important;
    }
    center h1{
        font-size: 30px !important;
    }
}
@media only screen and (min-width:500px) and ( max-width:800px){
    .bar .progress .progress-color{
        font-size: 12px !important;
        
    }
    .text h1{
        font-size: 35px !important;
    }
    .text{
        font-size: 20px !important;
    }
    .text button{
        font-size: 20px !important;
    }
    .bar h3{
        font-size: 20px !important;
    }
    .bar .progress, .progress-color{
        height: 35px !important;
    }
    center h1{
        font-size: 35px !important;
    }

}









.color1{
    color: #c70039;
    transition: all .4s ease;
}
.bgcolor1{
    background-color: #c70039;
    transition: all .4s ease;
}


.color2{
    color: #481380;
    transition: all .4s ease;
}
.bgcolor2{
    background-color: #481380;
    transition: all .4s ease;
}


.color3{
    color: #00909e;
    transition: all .4s ease;
}
.bgcolor3{
    background-color: #00909e;
    transition: all .4s ease;
}


.color4{
    color: #04A777;
    transition: all .4s ease;
}
.bgcolor4{
    background-color: #04A777;
    transition: all .4s ease;
}


.color5{
    color: #035aa6;
    transition: all .4s ease;
}
.bgcolor5{
    background-color: #035aa6;
    transition: all .4s ease;
}

.color6{
    color: #dd7631;
    transition: all .4s ease;
}
.bgcolor6{
    background-color: #dd7631;
    transition: all .4s ease;
}
